html {
}

body{
	width: 100%;
	overflow-y: hidden;
	margin: 0px;
  background-color: orange;
  animation: fade 10s infinite alternate;
}

#container{
}

#header{
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -160px;
	max-width: 320px;
	width:90%;
	margin-top: 0px;
	padding: 20px;
	z-index: 0;
  background-color: lightgoldenrodyellow;
}

em {
  font-weight: bold;
}
